.restsite {
  width: 100%;
  margin-right: 50px;
  margin-left: 38px;
}
.user-list-rest {
  padding-bottom: 40px;
}
.user-title {
  margin-bottom: 50px;
  margin-left: 40px;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #474747;
}
.user-item {
  max-width: 555px;
  border-bottom: 1px solid #DFDFDF;
  list-style-type: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #474747;
}
.user-text {
  margin: 0px;
  max-width: 500px;
}
.user-date {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #777777;
  margin-top: 35px;
}
.user-time {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #777777;
  margin-top: 20px;
}
.user-time-text {
  margin-left: 10px;
}
.rest-link {
  list-style-type: none;
  text-decoration: none;
  color: #474747;
}
.render-number {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.render-number li {
  padding: 10px;
  cursor: pointer;
}
.render-number li.active {

  color: #FFBA9D;
}
.render-number li {
  background-color: transparent;
  border: none;
  color: #777777;
  font-size: 14px;
  cursor: pointer;
}
.render-number li button:hover {
  background-color: #777777;
  color: #fff;
}
.render-number li button:focus {
  outline: none;
}

@media only screen and (max-width:752px) {
  .render-number{
 justify-content: center;
  }
  
}