.footer {
  width: 100%;
  height: 250px;
  background: #000;
  color: #fff;
  bottom: 0px;
  margin: 0px;
  display: flex;
}
.logo {
  display: flex;
  padding-top: 40px;
  margin-left: 50px;
  margin-right: 300px;
  text-decoration: none;
  color: #fff;
}
.footer-name {
  margin: 0px;
  margin-top: 16px;
  margin-left: 15px;
}
.footer-list {
  display: flex;
  list-style-type: none;
  text-decoration: none;
}
.footer-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.footer-link {
  text-decoration: none;
  list-style-type: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}
.footer-item {
  margin-right: 100px;
}
.underline {
  text-decoration-line: underline;
}



@media only screen and (max-width:1250px){
  .logo{
    margin-right: 200px;
  } 

  .footer-item{
    margin-right: 50px;
  }
}




@media only screen and (max-width:1000px){
  .logo{
    margin-right: 50px;
  }
}


/*Responsive footer mobile..*/

@media only screen and (max-width: 822px) {
  .footer {
    max-width: 100%;
    height: 100%;
    background: #000;
    color: #fff;
    bottom: 0px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
  }

  .logo {
    display: flex;
    padding-top: 20px;
    margin-left: 25px;
    margin-right: 150px;
    text-decoration: none;
    color: #fff;
  }
  .footer-name {
    margin: 0px;
    margin-top: 4px;
    margin-left: 5px;
    font-weight: 500;
    font-size: 14.3377px;
    line-height: 19px;
    color: #ffffff;
  }
  .footer-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    text-decoration: none;
  }
  .footer-item {
    margin-right: 50px;
  }
}

@media only screen and (max-width:752px) {
  .footer-list{
    display: block;
  }

}
